.vscode
./utils/*
Containers
ContainersGZIP
FileRecipes
FULL_FILE_STORAGE
FFFP.meta
fingerprints.meta
cDedup
L1.meta 
L2.meta 
L3.meta 
L4.meta 
L5.meta 
L6.meta
utils/lz4-1.9.1/.gitattributes
utils/lz4-1.9.1/.gitignore
utils/lz4-1.9.1/.travis.yml
utils/lz4-1.9.1/appveyor.yml
utils/lz4-1.9.1/INSTALL
utils/lz4-1.9.1/LICENSE
utils/lz4-1.9.1/Makefile
utils/lz4-1.9.1/Makefile.inc
utils/lz4-1.9.1/NEWS
utils/lz4-1.9.1/README.md
utils/lz4-1.9.1/.circleci/config.yml
utils/lz4-1.9.1/contrib/cmake_unofficial/.gitignore
utils/lz4-1.9.1/contrib/cmake_unofficial/CMakeLists.txt
utils/lz4-1.9.1/contrib/debian/changelog
utils/lz4-1.9.1/contrib/debian/compat
utils/lz4-1.9.1/contrib/debian/control
utils/lz4-1.9.1/contrib/debian/copyright
utils/lz4-1.9.1/contrib/debian/dirs
utils/lz4-1.9.1/contrib/debian/docs
utils/lz4-1.9.1/contrib/debian/liblz4-dev.install
utils/lz4-1.9.1/contrib/debian/liblz4.install
utils/lz4-1.9.1/contrib/debian/rules
utils/lz4-1.9.1/contrib/djgpp/LICENSE
utils/lz4-1.9.1/contrib/djgpp/Makefile
utils/lz4-1.9.1/contrib/djgpp/README.MD
utils/lz4-1.9.1/contrib/gen_manual/.gitignore
utils/lz4-1.9.1/contrib/gen_manual/gen_manual.cpp
utils/lz4-1.9.1/contrib/gen_manual/gen-lz4-manual.sh
utils/lz4-1.9.1/contrib/gen_manual/Makefile
utils/lz4-1.9.1/contrib/gen_manual/README.md
utils/lz4-1.9.1/contrib/meson/GetLz4LibraryVersion.py
utils/lz4-1.9.1/contrib/meson/InstallSymlink.py
utils/lz4-1.9.1/contrib/meson/meson_options.txt
utils/lz4-1.9.1/contrib/meson/meson.build
utils/lz4-1.9.1/contrib/meson/README.md
utils/lz4-1.9.1/contrib/meson/contrib/meson.build
utils/lz4-1.9.1/contrib/meson/contrib/gen_manual/meson.build
utils/lz4-1.9.1/contrib/meson/examples/meson.build
utils/lz4-1.9.1/contrib/meson/lib/meson.build
utils/lz4-1.9.1/contrib/meson/programs/meson.build
utils/lz4-1.9.1/contrib/meson/tests/meson.build
utils/lz4-1.9.1/contrib/snap/README.md
utils/lz4-1.9.1/contrib/snap/snapcraft.yaml
utils/lz4-1.9.1/doc/lz4_Block_format.md
utils/lz4-1.9.1/doc/lz4_Frame_format.md
utils/lz4-1.9.1/doc/lz4_manual.html
utils/lz4-1.9.1/doc/lz4frame_manual.html
utils/lz4-1.9.1/examples/.gitignore
utils/lz4-1.9.1/examples/blockStreaming_doubleBuffer.c
utils/lz4-1.9.1/examples/blockStreaming_doubleBuffer.md
utils/lz4-1.9.1/examples/blockStreaming_lineByLine.c
utils/lz4-1.9.1/examples/blockStreaming_lineByLine.md
utils/lz4-1.9.1/examples/blockStreaming_ringBuffer.c
utils/lz4-1.9.1/examples/compress_functions.c
utils/lz4-1.9.1/examples/COPYING
utils/lz4-1.9.1/examples/dictionaryRandomAccess.c
utils/lz4-1.9.1/examples/dictionaryRandomAccess.md
utils/lz4-1.9.1/examples/frameCompress.c
utils/lz4-1.9.1/examples/HCStreaming_ringBuffer.c
utils/lz4-1.9.1/examples/Makefile
utils/lz4-1.9.1/examples/printVersion.c
utils/lz4-1.9.1/examples/README.md
utils/lz4-1.9.1/examples/simple_buffer.c
utils/lz4-1.9.1/examples/streaming_api_basics.md
utils/lz4-1.9.1/lib/.gitignore
utils/lz4-1.9.1/lib/liblz4-dll.rc.in
utils/lz4-1.9.1/lib/liblz4.pc.in
utils/lz4-1.9.1/lib/LICENSE
utils/lz4-1.9.1/lib/lz4.c
utils/lz4-1.9.1/lib/lz4.h
utils/lz4-1.9.1/lib/lz4frame_static.h
utils/lz4-1.9.1/lib/lz4frame.c
utils/lz4-1.9.1/lib/lz4frame.h
utils/lz4-1.9.1/lib/lz4hc.c
utils/lz4-1.9.1/lib/lz4hc.h
utils/lz4-1.9.1/lib/Makefile
utils/lz4-1.9.1/lib/README.md
utils/lz4-1.9.1/lib/xxhash.c
utils/lz4-1.9.1/lib/xxhash.h
utils/lz4-1.9.1/lib/dll/example/fullbench-dll.sln
utils/lz4-1.9.1/lib/dll/example/fullbench-dll.vcxproj
utils/lz4-1.9.1/lib/dll/example/Makefile
utils/lz4-1.9.1/lib/dll/example/README.md
utils/lz4-1.9.1/programs/.gitignore
utils/lz4-1.9.1/programs/bench.c
utils/lz4-1.9.1/programs/bench.h
utils/lz4-1.9.1/programs/COPYING
utils/lz4-1.9.1/programs/datagen.c
utils/lz4-1.9.1/programs/datagen.h
utils/lz4-1.9.1/programs/lz4-exe.rc.in
utils/lz4-1.9.1/programs/lz4.1
utils/lz4-1.9.1/programs/lz4.1.md
utils/lz4-1.9.1/programs/lz4cli.c
utils/lz4-1.9.1/programs/lz4io.c
utils/lz4-1.9.1/programs/lz4io.h
utils/lz4-1.9.1/programs/Makefile
utils/lz4-1.9.1/programs/platform.h
utils/lz4-1.9.1/programs/README.md
utils/lz4-1.9.1/programs/util.h
utils/lz4-1.9.1/tests/.gitignore
utils/lz4-1.9.1/tests/checkFrame.c
utils/lz4-1.9.1/tests/checkTag.c
utils/lz4-1.9.1/tests/COPYING
utils/lz4-1.9.1/tests/datagencli.c
utils/lz4-1.9.1/tests/frametest.c
utils/lz4-1.9.1/tests/fullbench.c
utils/lz4-1.9.1/tests/fuzzer.c
utils/lz4-1.9.1/tests/Makefile
utils/lz4-1.9.1/tests/README.md
utils/lz4-1.9.1/tests/roundTripTest.c
utils/lz4-1.9.1/tests/test_custom_block_sizes.sh
utils/lz4-1.9.1/tests/test_install.sh
utils/lz4-1.9.1/tests/test-lz4-speed.py
utils/lz4-1.9.1/tests/test-lz4-versions.py
utils/lz4-1.9.1/visual/.gitignore
utils/lz4-1.9.1/visual/README.md
utils/lz4-1.9.1/visual/VS2010/lz4.sln
utils/lz4-1.9.1/visual/VS2010/datagen/datagen.vcxproj
utils/lz4-1.9.1/visual/VS2010/frametest/frametest.vcxproj
utils/lz4-1.9.1/visual/VS2010/fullbench/fullbench.vcxproj
utils/lz4-1.9.1/visual/VS2010/fullbench-dll/fullbench-dll.vcxproj
utils/lz4-1.9.1/visual/VS2010/fuzzer/fuzzer.vcxproj
utils/lz4-1.9.1/visual/VS2010/liblz4/liblz4.vcxproj
utils/lz4-1.9.1/visual/VS2010/liblz4-dll/liblz4-dll.rc
utils/lz4-1.9.1/visual/VS2010/liblz4-dll/liblz4-dll.vcxproj
utils/lz4-1.9.1/visual/VS2017/lz4.sln
utils/lz4-1.9.1/visual/VS2017/datagen/datagen.vcxproj
utils/lz4-1.9.1/visual/VS2017/frametest/frametest.vcxproj
utils/lz4-1.9.1/visual/VS2017/fullbench/fullbench.vcxproj
utils/lz4-1.9.1/visual/VS2017/fullbench-dll/fullbench-dll.vcxproj
utils/lz4-1.9.1/visual/VS2017/fuzzer/fuzzer.vcxproj
utils/lz4-1.9.1/visual/VS2017/liblz4/liblz4.vcxproj
utils/lz4-1.9.1/visual/VS2017/liblz4-dll/liblz4-dll.rc
utils/lz4-1.9.1/visual/VS2017/liblz4-dll/liblz4-dll.vcxproj
conf/writeExample.json
dedup.log
